/* google fonts cdn */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');


/* universal style */
* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather", serif;
}


/* 


.merriweather-<uniquifier> {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
}


*/


/* 



.inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


*/



/* header style */
#header {
  width: 1320px;
  border-radius: 16px;
  height: 600px;
  background-image: linear-gradient(180.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%), url('./../images/top-banner.png');
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-content {
  text-align: center;
}

.header-content h3 {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 16px;
}

.header-content h1 {
  color: rgb(255, 255, 255);
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
}