/* google fonts cdn */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');


/* universal style */
* {
  margin: 0;
  padding: 0;
}




/* 


.merriweather-<uniquifier> {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
}


*/


/* 



.inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


*/



/* header style */
#header {
  width: 1320px;
  border-radius: 16px;
  height: 600px;
  background-image: linear-gradient(180.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%), url('./../images/top-banner.png');
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-content {
  text-align: center;
}

.header-content h3 {
  color: rgb(255, 255, 255);
  font-family: "Merriweather", serif;
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 16px;
}

.header-content h1 {
  color: rgb(255, 255, 255);
  font-family: "Merriweather", serif;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
}

/* offer style */
.offer {
  margin-top: 70px;
  width: 802px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 120px;
}



.offer-title {
  color: rgb(255, 0, 0);
  font-family: "Inter", sans-serif;
  font-size: 88px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 48px;
}

.offer-day {
  color: rgb(255, 0, 0);
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}

.categories {
  color: rgb(7, 2, 17);
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 48px;
}


/* party style */
.party {
  width: 1320px;
  height: 600px;
  background-image: linear-gradient(90.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%), url('./../images/Vectorrr.png');
  border-radius: 16px;
  background-repeat: no-repeat;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 48px;
  margin-bottom: 120px;
}

.party-content {
  padding-left: 126px;
}

.party-content h2 {
  color: rgb(255, 255, 255);
  font-family: "Merriweather", serif;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  margin-bottom: 24px;
}
.party-content p {
  color: rgba(255, 255, 255, 0.8);
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 48px;
}
.party-content button {
  color: rgb(255, 255, 255);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 700;
  background-color: transparent;
  border: 0;
  text-transform: uppercase;
  margin-left: 32px;
}

.party-img {
  padding-right: 100px;
}
